Repository b2wdigital/async-worker, pull requests merged in 2020-06, with the labels that each got.

#209 Documentando como atualizar um projeto asyncworker
  docs-src/changelog/v0.15.0.rst
  docs-src/userguide/metrics/autoexposed-metrics.rst
Labels: docs

#204 Feature/document prometheus integration
  docs-src/changelog/v0.15.0.rst
  docs-src/userguide/handlers/http/exposed-metrics.rst
  docs-src/userguide/handlers/index.rst
  docs-src/userguide/handlers/rabbitmq/doc.rst
  docs-src/userguide/handlers/rabbitmq/exposed-metrics.rst
  docs-src/userguide/handlers/rabbitmq/index.rst
  docs-src/userguide/index.rst
  docs-src/userguide/metrics/autoexposed-metrics.rst
  docs-src/userguide/metrics/config.rst
  docs-src/userguide/metrics/index.rst
  docs-src/userguide/metrics/types/index.rst
  docs-src/userguide/metrics/types/type_counter.rst
  docs-src/userguide/metrics/types/type_gauge.rst
  docs-src/userguide/metrics/types/type_histogram.rst
Labels: docs

#201 #106 prometheus integration
  Pipfile
  Pipfile.lock
  asyncworker/conf.py
  asyncworker/metrics/__init__.py
  asyncworker/metrics/aiohttp_resources.py
  asyncworker/metrics/collectors/__init__.py
  asyncworker/metrics/collectors/base.py
  asyncworker/metrics/collectors/gc.py
  asyncworker/metrics/collectors/platform.py
  asyncworker/metrics/collectors/process.py
  asyncworker/metrics/definitions/__init__.py
  asyncworker/metrics/definitions/amqp.py
  asyncworker/metrics/definitions/http.py
  asyncworker/metrics/registry.py
  asyncworker/metrics/types.py
  asyncworker/routes.py
  asyncworker/signals/handlers/http.py
  docs-src/changelog/v0.15.0.rst
  docs-src/userguide/handlers/http/exposed-metrics.rst
  docs-src/userguide/handlers/index.rst
  docs-src/userguide/handlers/rabbitmq/doc.rst
  docs-src/userguide/handlers/rabbitmq/exposed-metrics.rst
  docs-src/userguide/handlers/rabbitmq/index.rst
  docs-src/userguide/index.rst
  docs-src/userguide/metrics/autoexposed-metrics.rst
  docs-src/userguide/metrics/config.rst
  docs-src/userguide/metrics/index.rst
  docs-src/userguide/metrics/types/index.rst
  docs-src/userguide/metrics/types/type_counter.rst
  docs-src/userguide/metrics/types/type_gauge.rst
  docs-src/userguide/metrics/types/type_histogram.rst
  examples/metrics.py
  setup.py
  tests/http/test_metrics_endpoint.py
  tests/metrics/test_gc_collector.py
  tests/metrics/test_platform_collector.py
  tests/metrics/test_process_collector.py
  tests/rabbitmq/test_rabbitmq_app.py
  tests/routes/test_routes_model.py
  tests/signals/handlers/test_http.py
Labels: breaking-change, feature

#202 #106 Asyncworker HTTP metrics
  asyncworker/conf.py
  asyncworker/metrics/aiohttp_resources.py
  asyncworker/metrics/buckets.py
  asyncworker/metrics/definitions/http.py
  asyncworker/signals/handlers/http.py
  asyncworker/time.py
  docs-src/userguide/handlers/http/exposed-metrics.rst
  docs-src/userguide/handlers/http/index.rst
  docs-src/userguide/metrics/config.rst
  docs-src/userguide/metrics/index.rst
  tests/metrics/test_buckets.py
  tests/metrics/test_http_metrics.py
Labels: feature
